#daRona {
  width: 65px; height: 65px;
}

#daRona:hover {
  animation: rotate 2s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform : rotate(-45deg)
  }
  100% {
    transform: rotate(0deg);
  }
}

a:focus {
    text-decoration: underline;
}

.sorting {
    cursor: pointer;
}
