:root {
    --bleqq: rgb(0, 0, 0);
    --whyte: #fff;
}

.navIcon:hover, .navIcon:focus {
    border: 2px solid var(--bleqq);
    padding: 2px;
}

.navIcon.dark:hover, .navIcon.dark:focus {
    border: 2px solid var(--whyte);
    padding: 2px;
}

a:focus {
    text-decoration: underline;
}